@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
.debug1 {
  background-color: red;
}

.debug2 {
  background-color: green;
}

.debug3 {
  background-color: blue;
}

body {
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  overflow-x: hidden;
  color: #313131;
}

h1.header-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: #444;
  margin-bottom: 5px;
}

a {
  color: #313131;
}

a.red {
  border-radius: 0px;
  background: #d66039;
  color: #f1eeed;
  padding: 10px 30px;
  margin-right: 15px;
  border: 1px solid #d66039;
  margin-bottom: 15px;
}

a.bttn {
  border-radius: 0px;
  background: transparent;
  color: #f1eeed;
  padding: 10px 30px;
  margin-right: 15px;
  margin-bottom: 15px;
}

a.bttn:hover {
  background: #d66039;
  border-color: #d66039;
  color: #f1eeed;
}

a:hover {
  transition: all .6s;
  text-decoration: none;
}

.section-wrapper {
  padding: 100px 0px;
}

.regular {
  font-weight: 400;
}

/*=================================================
||        4. Home
==================================================*/
/*=================================================
||        5. Navbar
==================================================*/
/*=================================================
||        6. Book
==================================================*/
.book {
  position: relative;
  background: #ebebeb;
}

.book .col-sm-6 {
  z-index: 1;
}

.book h2 {
  margin-bottom: 50px;
}

.light {
  color: #999;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
}

.body {
  color: #444;
  font-weight: 400;
  font-size: 18px;
  margin-top: 50px;
}

.cta-1 {
  background-color: #d66039;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: #f1eeed;
  padding: 50px 0px;
}

/*=================================================
||        8. Reviews
==================================================*/
h3.title {
  display: inline-block;
}

.reviews {
  background-color: #e3e3e3;
  padding-bottom: 125px;
}

.stars {
  float: right;
}

.gain {
  display: inline-block;
}

.gain, .review-gain {
  color: #ffc107;
  font-size: 22px;
}

.review-gain {
  margin: 10px 0px;
}

.not-gain {
  color: #000;
  display: inline-block;
  font-size: 22px;
}

.reviewer {
  border-radius: 100%;
  width: 100px !important;
  height: 100px;
  margin: 10px auto;
  background-color: #cacaca;
}

.item {
  text-align: center;
  background-color: #f2f2f2;
  padding: 50px 30px;
  margin: 0px 15px;
  color: #444;
  margin-top: 60px;
}

.addr {
  margin: 0px;
}

.details {
  letter-spacing: 1px;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 47%;
  font-size: 22px;
  padding: 5px;
}

.owl-next {
  right: -20px;
}

.owl-prev {
  left: -20px;
}

.owl-prev:before {
  content: "\f3d2";
  font-family: 'ionicons';
}

.owl-next:before {
  content: "\f3d3";
  font-family: "ionicons";
}

/*=================================================
||        9. Blog
==================================================*/
.blogger {
  border-radius: 100%;
}

.blog-left {
  padding-right: 100px;
}

.blogger-id {
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
}

.blogger-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: -10px;
}

.id, .place {
  font-size: 24px;
  font-weight: 400;
}

.sub {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 40px;
}

.place {
  margin: 20px 0px 5px;
}

.book-icon {
  word-spacing: 25px;
  font-size: 14px;
}

.book-icon .ion-android-compass {
  color: #d66039;
}

.blog .light {
  margin: 20px 0px;
}

/*=================================================
||        10. cta-2
==================================================*/
/*=================================================
||        11. Contact
==================================================*/
.contact {
  background-color: #ebebeb;
}

.contact h2 {
  margin-top: 0px;
}

.address {
  margin-bottom: 40px;
}

.address, .call {
  line-height: 200%;
  font-size: 16px;
}

.address strong {
  font-size: 18px;
}

.contactform label {
  float: left;
}

.contactform .form-control {
  margin-bottom: 20px;
  border: 1px solid #cbcbcb;
  height: 45px;
}

.contactform textarea.form-control {
  height: 170px;
}

/* Inputs styles */
.contactform .form-control {
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contactform .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d66039;
}

.btn-send {
  transition: all 0.4s;
  border-radius: 0;
  width: 100%;
  background: #d66039;
  color: #f1eeed;
  padding: 10px 30px;
  margin: 5px auto;
  border: 1px solid transparent;
}

.btn-send:hover {
  background: #f1eeed;
  color: #d66039;
  border-color: #d66039;
}

button, button:focus, button:hover, button:active {
  outline: none !important;
}

/*=================================================
||        12. Footer
==================================================*/
/*=================================================
||        13. Media Query
==================================================*/
@media (max-width: 992px) {
  .book .section-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .home .home-bg {
    background: url("../images/Notebook-1.png") no-repeat;
    background-position: left bottom;
  }

  .book .book-bg {
    background: url("../images/iPad.png") no-repeat;
    background-position: right bottom;
  }
}
@media (max-width: 768px) {
  .header-wrapper {
    padding-top: 15%;
  }

  .blog {
    text-align: center;
  }

  .blog-left {
    padding: 0 15px;
    text-align: center;
  }

  .contact {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .header-wrapper {
    padding: 0;
  }

  .home .description {
    margin: 15px 0;
    font-size: 14px;
    padding-right: 15px;
  }
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section h2 {
  margin-bottom: 70px;
}
.section .btn {
  margin-top: 100px;
}

.section-light {
  background-color: #fff;
  color: #000;
}

.section-gray {
  background-color: #f2f3f7;
}

.section-dark {
  background-color: #171717;
  color: #fff;
}

.section-darker {
  background-color: #121212;
  color: #fff;
}

.block-margin {
  padding-top: 150px;
  padding-bottom: 150px;
}

.home {
  background: linear-gradient(45deg, #616161, #1c1c1c);
  height: 100vh;
  color: #f1eeed;
  letter-spacing: 1px;
}

.header-img {
  margin-left: -15px;
}

.header-wrapper {
  padding: 30% 0%;
}

p.header-sub {
  font-size: 24px;
  font-weight: 400;
  color: #a9a7a6;
}

.home .description {
  font-size: 16px;
  font-weight: 100;
  margin: 33px 0px;
  line-height: 175%;
}

.logo {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
}

.logo span {
  color: #d66039;
}

.logo:hover span {
  transform: rotateY(360deg);
  transition: all 1s;
}

.navigation .navbar-nav > li > a {
  font-size: 18px;
  font-weight: 400;
  padding: 15px 15px;
  margin: 0px 15px;
  border-bottom: 1px solid transparent;
}

.navigation .navbar-nav > li > a:hover {
  border-bottom: 1px solid #d66039;
}

.navigation {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  background: #ebebeb;
  border-radius: 0px;
  padding: 8px;
  margin-bottom: 0px;
}

.cta-2 {
  color: #f1eeed;
  background-color: #d66039;
  padding: 50px 0px;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

.subt {
  font-size: 24px;
  font-weight: 100;
}

.cta-2 .bttn {
  margin: 21px auto;
  display: table;
}

.cta-2 .bttn:hover {
  color: #d66039;
  background-color: #f1eeed;
}

.chapters-list {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.chapters-list li {
  column-break-inside: avoid;
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  * zoom: 1;
  border-bottom: 1px dotted #c9c5cf;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.chapters-list li:before, .chapters-list li:after {
  content: "";
  display: table;
}
.chapters-list li:after {
  clear: both;
}
.chapters-list li .chapter-number {
  float: right;
  color: #aaa9b1;
  font-weight: 300;
}
.chapters-list li.end {
  visibility: hidden;
}

@media screen and (min-width: 47.5em) {
  /* line 268, /app/source/stylesheets/includes/_home.scss */
  .chapters-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }
}
.contact {
  padding: 75px 0;
}
.contact h4 {
  text-transform: uppercase;
  margin: 0 0 25px;
}
.contact p {
  margin: 0;
}

footer {
  padding: 15px 0px;
  color: #000;
  font-size: 16px;
  background-color: #e3e3e3;
}

.social-icons {
  word-spacing: 20px;
}

.themewagon {
  text-align: right;
}

@media (max-width: 992px) {
  footer {
    text-align: center;
  }
}
/*
footer {
  .opening {
  }
  .btn {
    margin: 0;
  }
  table {
    background-color: $bg-gray-dark;
    padding: 20px;
    .day {

    }
    .time {
      color: $text-main-color;
    }
  }
  padding: 50px 0;
}

.copyrights p {
  font-size: 0.9em;
  line-height: 40px;
  margin: 0;
  color: $bg-dark;
  a {
    color: $text-gray;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      color: $text-light;
    }
  }
}

.footer-socials {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin-left: 10px;
    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: $bg-gray;
      color: $text-light;
      font-size: 1.25em;
      &:hover {
        background-color: $bg-light;
        color: $text-gray;
      }
    }
  }
}
*/
/*
.product-button-left,
.product-button-right {
  height: 60px;
  line-height: 56px;
  text-align: center;
  display: inline-block;
  color: $text-lighter;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 25px;
  margin: 25px 0 0;
}
.product-button-left {
  border: 2px solid $bg-main-color;
  background-color: $bg-main-color;
  margin-right: 10px;
  i {
    margin-left: 5px;
    color: $text-lighter;
  }
  &:hover,
  &:focus {
    color: $text-lighter;
    border: 2px solid #33adff;
    background-color: #33adff;
  }
  &:hover i {
    color: $text-light;
  }
}
.product-button-right {
  color: $text-main-color;
  background-color: transparent;
  border: 2px solid $bg-main-color;
  &:hover,
  &:focus {
    color: $text-lighter;
    background-color: $bg-main-color;
    border: 2px solid $bg-main-color;
  }
}
.product-right {
  .product-button-right {
    color: $text-gray;
    background-color: $bg-lighter;
    border: 2px solid $bg-lighter;
    &:hover,
    &:focus {
      color: $text-gray;
      background-color: transparent;
      border: 2px solid #d9dade;
    }
  }
}

.photo-button,
.photo-button:focus {
  height: 60px;
  line-height: 56px;
  display: inline-block;
  background-color: transparent;
  color: $text-lighter;
  border: 2px solid rgba(255,255,255,0.75);
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 25px;
  margin-top: 25px;
}

.photo-button:hover {
  background-color: $blue;
  color: $text-lighter;
  border: 2px solid $blue;
}
*/
/*
a {
  &:hover {
    text-decoration: none;
  }
}
*/
/*
.pricing-table-normal {
  width: 75%;
  margin: 0 auto;
}
.pricing-table-normal > div {
  margin-top: 0;
}
.pricing-table-normal {
  margin-top: 40px;
}
.pricing-table-normal:first-child {
  margin-top: 0;
}
*/
