//- index.jade

extends ./includes/_layout.jade

block header
  include ./includes/_header.jade
block navigation
  include ./includes/_navigation.jade
block testimonials
block muse
  include ./includes/_muse.jade
block features
block chapters
  include ./includes/_chapters.jade
block authors
  include ./includes/_authors.jade
block cta2
  include ./includes/_cta2.jade
block faq
  include ./includes/_faq.jade
block contact
  include ./includes/_contact.jade
block thankyou
block packages
block note
block footer
  include ./includes/_footer.jade
block jscripts
  include ./includes/_jscripts.jade