/*
.pricing-table-normal {
  width: 75%;
  margin: 0 auto;
}
.pricing-table-normal > div {
  margin-top: 0;
}
.pricing-table-normal {
  margin-top: 40px;
}
.pricing-table-normal:first-child {
  margin-top: 0;
}
*/