$black: #000;
$black-smooth: #111111;
$blue:  #0091EA;
$green: #2cbf6d;
$gray: #e2e1e4;
$dark-gray: lighten(gray, 15%);;
$purple-dark: #6e5eb2;
$purple-light: #a399cd;
$red: #d66039;
$white: #fff;

$bg-main-color: $blue;
// $bg-second-color:

$bg-lighter:    $white;//lighten($bg-main-color, 40%);
$bg-light:      #f2f3f7;//lighten($bg-main-color, 40%);
$bg-gray-dark:  #202020;

$bg-dark:       #171717;//darken($bg-main-color, 20%);
$bg-darker:     #121212;//darken($bg-main-color, 40%);
$bg-gray:       #747d93;
$bg-dark-green: #5b8068;

$link: $blue;
$link-visited: $blue;
$link-hover: #f4cd13;
$link-active: #f4cd13;

$text-main-color: #413b52;
$text-second-color: $blue;//#f1eeed;
$text-light:      $white;
$text-lighter:  #fff;
$text-dark:     #000;
$text-darker:   $black;
$text-gray:     #747d93;

$button-bg-main: #ffde00;
$button-bg-second: #edc610;
$button-bg-main-hover: #ffee2d;
$button-bg-second-hover: #f7cc04;
/*
$button-bg-main-active: ;
$button-bg-second-active: ;
*/
$button-text: #796419;
$button-text-hover: #9d801a;