$black: #000;
$black-smooth: #111111;
$blue:  #2c97de;
$green: #2cbf6d;
$purple-dark: #6e5eb2;
$purple-light: #a399cd;
$red: #d66039;
$white: #fff;

$bg-main-color: $red;
// $bg-second-color:

$bg-lighter:    $white;//lighten($bg-main-color, 40%);
$bg-light:      #f2f3f7;//lighten($bg-main-color, 40%);
$bg-gray-dark:  #202020;

$bg-dark:       #171717;//darken($bg-main-color, 20%);
$bg-darker:     #121212;//darken($bg-main-color, 40%);
$bg-gray:       #747d93;
$bg-dark-green: #5b8068;

$link: $purple-dark;
$link-visited: #a399cd;
$link-hover: #f4cd13;
$link-active: #f4cd13;

$text-main-color: #413b52;
$text-second-color: $purple-light;//#f1eeed;
$text-light:      $white;
$text-lighter:  #fff;
$text-dark:     #000;
$text-darker:   $black;
$text-gray:     #747d93;