.cta-2
{
  color: #f1eeed;
  background-color: #d66039;
  padding: 50px 0px;
}
h4
{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}
.subt
{
  font-size: 24px;
  font-weight: 100;
}
.cta-2 .bttn
{
  margin: 21px auto;
  display: table;
}
.cta-2 .bttn:hover
{
  color: #d66039;
  background-color: #f1eeed;
}