.logo {
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  &:hover {

    span {
      transform: rotateY(360deg);
      transition: all 1s;
      color: $link-visited;
    }
  }
  span {
    color: $link;
  }
}

.navigation{
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  background: $bg-light;
  border-radius: 0;
  padding: 8px;
  margin-bottom: 0;
  .navbar-nav>li>a {
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    margin: 0 15px;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $bg-main-color;
    }
  }
}