section#reviews.reviews.section-wrapper
  .container
    .row
      .col-md-6
        h2 Reviews
      .col-md-6
        .stars
          h3.title 4/5(17 Reviews)
          .gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-star
      .owl-carousel
        .item
          img(src="images/Yeeak.png" alt="Yeeak" class="reviewer")
          h3 Yeeak Lurbe
          p.addr Los Angels, California
          .review-gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-star
          p.details
            Curabitur vel consectetur sapien. Cras volutpat non ex vitae maximus. ed at lobortis quam vel.


        .item
          img(src="images/Juwel.png" alt="Juwel" class="reviewer")
          h3 Juwel Zohan

          p.addr
            Los Angels, California


          .review-gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-star
          p.details
            Curabitur vel consectetur sapien. Cras volutpat non ex vitae maximus. ed at lobortis quam vel.


        .item
          img(src="images/Rasakw.png" alt="Rasakw" class="reviewer")
          h3 Raskw

          p.addr
            Los Angels, California


          .review-gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-ios-star-half
          p.details
            Curabitur vel consectetur sapien. Cras volutpat non ex vitae maximus. ed at lobortis quam vel.


        .item
          img(src="images/Yeeak.png" alt="Yeeak" class="reviewer")
          h3 Yeeak Lurbe

          p.addr
            Los Angels, California


          .review-gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-star
          p.details
            Curabitur vel consectetur sapien. Cras volutpat non ex vitae maximus. ed at lobortis quam vel.


        .item
          img(src="images/Juwel.png" alt="Juwel" class="reviewer")
          h3 Juwel Zohan

          p.addr
            Los Angels, California


          .review-gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-star
          p.details
            Curabitur vel consectetur sapien. Cras volutpat non ex vitae maximus. ed at lobortis quam vel.


        .item
          img(src="images/Rasakw.png" alt="Rasakw" class="reviewer")
          h3 Raskw

          p.addr
            Los Angels, California


          .review-gain
            .ion-star
            .ion-star
            .ion-star
            .ion-star
            .ion-star
          p.details
            Curabitur vel consectetur sapien. Cras volutpat non ex vitae maximus. ed at lobortis quam vel.