//include _mixins

section#reviews.reviews.section-wrapper
  .container
    .row
      .col-md-12
        h2.text-uppercase.text-center à propos des auteurs
    .row
      .col-md-4.author
        //img(class='portrait' src='/images/.jpg')
        .bio
          h3.text-capitalize dominique sizam
          p.twitter
            a(href="https://twitter.com/NarmerMenes" class="twitter-follow-button" data-show-count="false") Follow NarmerMenes
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          p Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
      .col-md-4.author
        //img(class='portrait' src='/images/.jpg')
        .bio
          h3.text-capitalize cédric francietta
          p
            a(href="https://twitter.com/" class="twitter-follow-button" data-show-count="false") Follow
              //script(!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');)
          p Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
      .col-md-4.author
        //img(class='portrait' src='/images/.jpg')
        .bio
          h3.text-capitalize hervé rabenjason
          p
            a(href="https://twitter.com/" class="twitter-follow-button" data-show-count="false") Follow
              //script(!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');)
          p Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
