section#chapters
  .container
    .row
      .col-md-12
        h2 Full Chapters List
    .row
      .col-md-12
        ul.chapters-list
          li
            span.chapter-title Introduction
            span.chapter-number 1
          li
            span.chapter-title Getting Started
            span.chapter-number 2
          li
            span.chapter-title Deployment
            span.chapter-number 2.5
          li
            span.chapter-title Templates & Controllers
            span.chapter-number 3
          li
            span.chapter-title Using Git & GitHub
            span.chapter-number 3.5
          li
            span.chapter-title Collections
            span.chapter-number 4
          li
            span.chapter-title Publications and Subscriptions
            span.chapter-number 4.5
          li
            span.chapter-title Routing
            span.chapter-number 5
          li
            span.chapter-title The Session
            span.chapter-number 5.5
          li
            span.chapter-title Adding Users
            span.chapter-number 6
          li
            span.chapter-title Reactivity
            span.chapter-number 6.5
          li
            span.chapter-title Creating Posts
            span.chapter-number 7
          li
            span.chapter-title Latency Compensation
            span.chapter-number 7.5
          li
            span.chapter-title Editing Posts
            span.chapter-number 8
          li
            span.chapter-title Allow and Deny
            span.chapter-number 8.5
          li
            span.chapter-title Errors
            span.chapter-number 9
          li
            span.chapter-title Creating a Meteorite Package
            span.chapter-number 9.5
          li
            span.chapter-title Comments
            span.chapter-number 10
          li
            span.chapter-title Denormalization
            span.chapter-number 10.5
          li
            span.chapter-title Notifications
            span.chapter-number 11
          li
            span.chapter-title Advanced Reactivity
            span.chapter-number 11.5
          li
            span.chapter-title Pagination
            span.chapter-number 12
          li
            span.chapter-title Advanced Publications
            span.chapter-number 12.5
          li
            span.chapter-title Voting
            span.chapter-number 13
          li
            span.chapter-title Animations
            span.chapter-number 14
          li
            span.chapter-title Going Further
            span.chapter-number 14.5