section#contact
  .container.section-block
    .row
      .col-md-12
        h2.text-uppercase.text-center Rester en contact
    .row
      .col-md-12
        p.text-center Si vous avez des questions, n'hésitez pas à <a href="//fastbusinessfactory.wufoo.com/forms/rester-en-contact/">nous contacter</a>!