section.cta-2.section-color
  .container
    .row
      .col-sm-12
        h2.text-center Get the eBook Sample
    .row
      .col-sm-12
        p.subt.text-center Join over 6,900 readers and get <strong>free</strong> sample of the book.
    .row
      .col-sm-12
        a(href="#" class="btn btn-default btn-lg bttn") Get free sample