section
  .container.cta-2.section-color
    .row
      .col-sm-12
        h2.text-center Il est temps de lancer vos business
    .row
      .col-sm-12
        p.lead.text-center Achetez le livre et commencez à créer vos muses.
    .row
      .col-sm-12
        a(href="packages.html" class="btn btn-default btn-lg bttn") Acheter le livre