section.cta-2
  .container
    .row
      .col-sm-8
        h4 Get the eBook Sample
        p.subt Join over 6,900 readers and get <strong>free</strong> sample of the book.
      .col-sm-4
        a(href="#" class="btn btn-default btn-lg bttn") Get free sample