section#faq
  h2 OK, but…
  .question
    h3 Will you provide free updates?
    p You bet! Meteor is constantly evolving, and we will of course make sure the book is kept up to date free of charge.
  .question
    h3 What if I'm not an experienced developer?
    p We cover all the basics. If you know HTML, CSS, and a little bit of JavaScript, you should be able to follow along just fine.
  .question
    h3 What if I don't like the book?
    p If you're not satisfied with the book for any reason, contact us and we'll provide you with a full refund.