section#faq
  .container.section-block
    .row
      .col-md-12
        h2.text-uppercase.text-center Ok, mais…
    .row
      .col-md-4
        .question.text-center
          h3 Les mises à jour sont gratuites?
          p Exact! Fast Business Factory évolue constamment, et bien sûr nous nous engageons à ce que les mises à jour du livre restent gratuite.
      .col-md-4
        .question.text-center
          h3 Dois je avoir des compétences particulières?
          p Absolument pas! Le livre est un tutoriel complet. Il comprend des pas-à-pas de chaque étape. De la création à la gestion de votre muse.
      .col-md-4
        .question.text-center
          h3 What if I don't like the book?
          p If you're not satisfied with the book for any reason, contact us and we'll provide you with a full refund.