<section id='features'>
  <h2>What You're Getting</h2>
  <img class='illustration' src='/images/contents-illustration.png'>
  <div class='feature'>
    <img src='/images/files.svg'>
    <h3>14 Chapters</h3>
    <p>The book's main chapters take you through building a social news app.</p>
  </div>
  <div class='feature'>
    <img src='/images/files.svg'>
    <h3>11 Sidebars</h3>
    <p>In between each regular chapter, sidebars focus on a specific aspect of Meteor.</p>
  </div>
  <div class='feature'>
    <img src='/images/note.svg'>
    <h3>17 Notes</h3>
    <p>We answer all your questions, and make sure you don't miss what's important.</p>
  </div>
  <div class='feature'>
    <img src='/images/diagram.svg'>
    <h3>18 Diagrams</h3>
    <p>Detailed diagrams explain concepts like reactivity and latency compensation.</p>
  </div>
  <div class='feature'>
    <img src='/images/code.svg'>
    <h3>45 Code Commits</h3>
    <p>We provide git commits for every code change to help you follow along.</p>
  </div>
  <div class='feature'>
    <img src='/images/browser.svg'>
    <h3>45 Live Instances</h3>
    <p>Every commit is also linked to a live demo instance of the app at this stage.</p>
  </div>
</section>
