footer
  .container
    .row
      .col-sm-4 &copy; 2015 Amazon eBook.
      .col-sm-4.text-center
        span.social-icons
          a(href="#")
            i.ion-social-facebook
          a(href="#")
            i.ion-social-twitter
          a(href="#")
            i.ion-social-reddit
          a(href="#")
            i.ion-social-pinterest
      .col-sm-4
        .themewagon
          Themed By <a href="http://www.themewagon.com">themewagon</a>
