footer
  .container.section-block
    .row
      .col-md-12.text-center
        ul.footer-socials
          li
            a(href="#"): i.fa.fa-lg.fa-facebook-official
          li
            a(href="#"): i.fa.fa-lg.fa-twitter
          li
            a(href="#"): i.fa.fa-lg.fa-google-plus
          li
            a(href="#"): i.fa.fa-lg.fa-pinterest
          li
            a(href="#"): i.fa.fa-lg.fa-youtube
          li
            a(href="#"): i.fa.fa-lg.fa-github
    .row
      .col-md-12.text-center
        p &copy; 2015 Fast Business Factory.