footer
  .container.section-block
    .row
      .col-md-12.text-center
        ul.footer-socials
          li
            a(href="//facebook.com/FastBusinessFactory" title="Like on Facebook" target="_blank"): i.fa.fa-lg.fa-facebook-official
          li
            a(href="//twitter.com/FastBusinessFactory" title="Follow on twitter" target="_blank"): i.fa.fa-lg.fa-twitter
          li
            a(href="#" title="" target="_blank"): i.fa.fa-lg.fa-google-plus
          li
            a(href="#" title="" target="_blank"): i.fa.fa-lg.fa-pinterest
          li
            a(href="#" title="" target="_blank"): i.fa.fa-lg.fa-youtube
          li
            a(href="#" title="" target="_blank"): i.fa.fa-lg.fa-github
    .row
      .col-md-12.text-center
        p &copy; 2015 Fast Business Factory.