section#home.home
  .home-bg
    .container-fluid
      .row
        .col-xs-12.col-sm-5.col-sm-offset-6
          .header-wrapper
            h1 Fast Business Factory
            p.header-sub
              Review of typefaces with examples.
            p.description
              Our all time best selling book is now available in a revised and expanded second edition. Notebook Mockup Vol2 is the definitive guide to using type in visual communication, from the printed page to PC screen.
            a(class="btn btn-default btn-lg bttn" href="FastBusinessFactory-sample.pdf" role="button") Un chapitre gratuit
            a(class="btn btn-default btn-lg bttn" href="packages.html" role="button") Acheter le livre