// script(src="js/jquery-1.11.2.min.js")
// script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/contact.js")
script(src="js/smoothscroll.js")
script(src="js/script.js")