//- layout.jade
doctype html

html(class=noIE lang=fr)
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
      title Fast Business Factory
    block css
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
      link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
      link(href="css/ionicons.min.css", rel="stylesheet")
      link(href="css/owl.carousel.css", rel="stylesheet")
      link(href="css/owl.theme.css", rel="stylesheet")
      link(href="css/main.css", rel="stylesheet")

  body
    block header
    block navigation
    block testimonials
    block muse
    block features
    block chapters
    block authors
    block cta2
    block faq
    block contact
    block thankyou
    block packages
    block note
    block footer
    block jscripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")