section#muse
  .container
    .row
      .col-md-12
        h2.text-uppercase So What's Meteor?
    .row
      .col-md-12
        p.first
          a(href="http://meteor.com" target="_blank") Meteor
          is at the forefront of a new wave of frameworks that make building web apps
        p Not only is Meteor <strong>entirely real-time</strong> (meaning any change to your database is automatically reflected live in the browser), but the fact that <strong>it uses JavaScript on both the client and server</strong> means that you won't have to juggle with multiple languages and environments anymore.
        p No matter your programming experience, by following our step-by-step instructions you'll be able to get your own Meteor app up and running in a matter of days!
