.container.section-block
  section
    .row
      .col-md-12
        .packages-upgrading.note.text-center
          h3.text-uppercase évolution / mise à jour
          p À noter que vous pouvez mettre à niveau votre package vers la version supérieure à tout moment, juste pour la différence de prix.