.container
  section
    .row
      .col-md-12
        .packages-upgrading.note.text-center
          h3.text-uppercase évolution / mise à jour
          p Note that you can upgrade from one package to another at any point, just for the price difference.