<div class='container'>
  <!-- .note.promo -->
  <!-- To celebrate the release of Meteor 1.0, all packages are <strong>20% off!</strong> -->
  <div class='page-title'>
    <h2>The Packages</h2>
    <p>The book comes in three different flavors. Pick the one that's best for you!</p>
  </div>
  <section id='packages'>
    <div class='package'>
      <div class='package-title'>
        <h2 id='the-book'>
          <span>
            Codename:
            Main Sequence
          </span>
          <em>
            The Book
          </em>
        </h2>
      </div>
      <div class='package-blurb'>
        <p>Quickly get proficient with Meteor, and get a good base to explore further on your own.</p>
      </div>
      <div class='package-contents'>
        <div class='package-block'>
          <h3>The Book</h3>
          <p>The core of Discover Meteor. The book's 25 chapters will put you on the road to Meteor mastery.</p>
          <ul class='package-book-list'>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/book.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>The Book</h4>
                <p class='item-description'>The book in PDF, HTML, ePub, and Kindle formats.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/lock.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Members Area</h4>
                <p class='item-description'>Access to the online version of the book.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/code.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>The Code</h4>
                <p class='item-description'>The app's git repository, with a commit for each step.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/browser.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Live Instances</h4>
                <p class='item-description'>Live instances of the app corresponding to each commit.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class='package-action'>
        <div class='inner'>
          <a class='button' data-action='click' data-category='Buy package The Book' data-gumroad-single-product='true' data-label='buttons' href='https://gumroad.com/a/460731507/eDzA'>
            <span class='action'>
              Buy the
              <strong>Main Sequence</strong>
              package
            </span>
            <span class='price'>
              $29
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class='package'>
      <div class='package-title'>
        <h2 id='full-edition'>
          <span>
            Codename:
            Red Giant
          </span>
          <em>
            Full Edition
          </em>
        </h2>
      </div>
      <div class='package-blurb'>
        <p>Master Meteor's intricacies, and take an in-depth look into the framework's more advanced features. You'll get <strong>the book</strong>, plus:</p>
      </div>
      <div class='package-contents'>
        <div class='package-block'>
          <h3>Extra Chapters</h3>
          <p>Extra chapters show you how to integrate your Meteor app with third-party services to give it extra capabilities.</p>
          <ul class='package-extra-chapters-list'>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/rss.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>RSS Feeds & APIs</h4>
                <p class='item-description'>Add an RSS feed and an API using server-side routes.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/world.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Working With External APIs</h4>
                <p class='item-description'>Learn how use data from the <a href="http://bitly.com">Bitly</a> API inside your app.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/intercom.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Integrating Intercom</h4>
                <p class='item-description'>Learn how to integrate messaging app <a href="http://intercom.io">Intercom</a> into Microscope.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/database.svg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Migrations</h4>
                <p class='item-description'>Learn about database migrations, and how they work with Meteor.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class='package-block'>
          <h3>Interviews</h3>
          <p>Get to know the people behind Meteor and Meteor projects.</p>
          <ul class='package-interviews-list'>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/matt.jpg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Matt Debergalis</h4>
                <p class='item-description'>Meteor founder <a href="https://twitter.com/debergalis">Matt Debergalis</a> explains how Meteor is different from other frameworks.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/andrew.jpg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Andrew Wilcox</h4>
                <p class='item-description'>Meteor open-source contributor Andrew Wilcox introduces the Offline Data project.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class='package-action'>
        <div class='inner'>
          <a class='button' data-action='click' data-category='Buy package Full Edition' data-gumroad-single-product='true' data-label='buttons' href='https://gumroad.com/a/460731507/ZjlD'>
            <span class='action'>
              Buy the
              <strong>Red Giant</strong>
              package
            </span>
            <span class='price'>
              $89
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class='package'>
      <div class='package-title'>
        <h2 id='premium-edition'>
          <span>
            Codename:
            White Dwarf
          </span>
          <em>
            Premium Edition
          </em>
        </h2>
      </div>
      <div class='package-blurb'>
        <p>Support the <em>Discover Meteor</em> team, get access to exclusive content, and receive an awesome t-shirt. You'll get the <strong>full edition</strong>, plus:</p>
      </div>
      <div class='package-contents'>
        <div class='package-tshirt'>
          <h3>The T-Shirt</h3>
          <div class='shirt-photos shirt-photos-small'>
            <div class='col1'>
              <img src='/images/blog/tshirt-zoom.jpg'>
            </div>
            <div class='col2'>
              <img src='/images/blog/tshirt-emi.jpg'>
              <img src='/images/blog/tshirt-sacha.jpg'>
            </div>
          </div>
          <div class='package-item'>
            <p>The <a href="/tshirt">Discover Meteor t-shirt</a> is the best way to show your love for Meteor in style. Rock an awesome design featuring stars, planets, rockets, and of course <em>meteors</em>!</p>
          </div>
        </div>
        <div class='package-block'>
          <h3>Interviews</h3>
          <p>Get to know the people behind Meteor and Meteor projects.</p>
          <ul class='package-interviews-list'>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/avital.jpg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Avital Oliver</h4>
                <p class='item-description'>Meteor core team member <a href="https://github.com/avital">Avital Oliver</a> talks about being a Meteor developer.</p>
              </div>
            </li>
            <li class='package-item'>
              <div class='item-icon'>
                <img src='/images/nick.jpg'>
              </div>
              <div class='item-contents'>
                <h4 class='item-name'>Nick Martin</h4>
                <p class='item-description'>Meteor founder <a href="https://github.com/n1mmy">Nick Martin</a> talks about scaling Meteor apps.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class='package-action'>
        <div class='inner'>
          <a class='button' data-action='click' data-category='Buy package Premium Edition' data-gumroad-single-product='true' data-label='buttons' href='https://gumroad.com/a/460731507/OwKC'>
            <span class='action'>
              Buy the
              <strong>White Dwarf</strong>
              package
            </span>
            <span class='price'>
              $179
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class='team' id='team-edition'>
      <p>Want to share with your team? <a href="http://gum.co/mNzU">Get a company license for $499</a>, and share the <strong>Premium Edition</strong> content (not including the t-shirt) with up to 10 people.</p>
      <p>We can also offer discounts on larger orders, and special prices for classrooms. <a href="http://discovermeteor.wufoo.com/forms/get-in-touch/">Contact us</a> to learn more.</p>
    </div>
    <div class='packages-upgrading note'>
      <h3>Upgrading</h3>
      <p>Note that you can upgrade from one package to another at any point, just for the price difference.</p>
    </div>
  </section>
</div>
