.container
  section.page-title
    .row
      .col-md-12.text-center
        h2 Les forfaits
        p The book comes in three different flavors. Pick the one that's best for you!
  section#packages
    .row.package
      .col-md-12
        //h2#the-book.package-title
          //span Codename: Main Sequence
          //em The Book
        .row
          .col-md-12.package-blurb
            p Quickly get proficient with Meteor, and get a good base to explore further on your own.
          .row.package-contents
            .col-md-12.package-block
              h3 The Book
              p The core of Discover Meteor. The book's 25 chapters will put you on the road to Meteor mastery.
              ul.package-book-list
                li.package-item
                  .item-icon
                    img(src='/images/book.svg')
                  .item-contents
                    h4.item-name The Book
                    p.item-description The book in PDF, HTML, ePub, and Kindle formats.
                li.package-item
                  .item-icon
                    img(src='/images/lock.svg')
                  .item-contents
                    h4.item-name Members Area
                    p.item-description Access to the online version of the book.
                li.package-item
                  .item-icon
                    img(src='/images/code.svg')
                  .item-contents
                    h4.item-name The Code
                    p.item-description The app's git repository, with a commit for each step.
                li.package-item
                  .item-icon
                    img(src='/images/browser.svg')
                  .item-contents
                    h4.item-name Live Instances
                    p.item-description Live instances of the app corresponding to each commit.
          .package-action
            .inner
              a(class='button btn btn-lg' data-action='click' data-category='Buy package The Book' data-gumroad-single-product='true' data-label='buttons' href='') Buy the book
                //span.action Buy the <strong>Main Sequence</strong> package
                //span.price $29
  //
    .row.package
      .col-md-12
        h2#full-edition.package-title
          span Codename: Main Sequence
          em Full Edition
        .row
          .col-md-12.package-blurb
            p Master Meteor's intricacies, and take an in-depth look into the framework's more advanced features. You'll get <strong>the book</strong>, plus:
          .row.package-contents
            .col-md-12.package-block
              h3 Extra Chapters
              p Extra chapters show you how to integrate your Meteor app with third-party services to give it extra capabilities.
              ul.package-book-list
                li.package-item
                  .item-icon
                    img(src='/images/book.svg')
                  .item-contents
                    h4.item-name The Book
                    p.item-description The book in PDF, HTML, ePub, and Kindle formats.
                li.package-item
                  .item-icon
                    img(src='/images/lock.svg')
                  .item-contents
                    h4.item-name Members Area
                    p.item-description Access to the online version of the book.
                li.package-item
                  .item-icon
                    img(src='/images/code.svg')
                  .item-contents
                    h4.item-name The Code
                    p.item-description The app's git repository, with a commit for each step.
                li.package-item
                  .item-icon
                    img(src='/images/browser.svg')
                  .item-contents
                    h4.item-name Live Instances
                    p.item-description Live instances of the app corresponding to each commit.
              .col.md-12.package-block
                h3 Interviews
                p Get to know the people behind Meteor and Meteor projects.
                ul.package-book-list
                  li.package-item
                    .item-icon
                      img(src='/images/book.svg')
                    .item-contents
                      h4.item-name The Book
                      p.item-description The book in PDF, HTML, ePub, and Kindle formats.
                  li.package-item
                    .item-icon
                      img(src='/images/lock.svg')
                    .item-contents
                      h4.item-name Members Area
                      p.item-description Access to the online version of the book.

          .package-action
            .inner
              a(class='button' data-action='click' data-category='Buy package Full Edition' data-gumroad-single-product='true' data-label='buttons' href='')
                span.action Buy the <strong>Red Giant</strong> package
                span.price $89